page-login {

}

.getstart {

  //background-image: url('../../img/bg-fibra-empresa.jpg');
  // background: url('../../img/getstart.png');
  background-repeat: no-repeat;
  background-size:cover;
}

.centralizado{
  vertical-align: middle;
  padding-top: 20%;
}
