<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding class="getstart ">

<div class="centralizado">

    <img style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;" src="img/zap-logo-zip.png">

  <ion-item id="cpf">
    <ion-label floating class="login">CPF</ion-label>
    <ion-input [(ngModel)]="user" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating class="login">Senha</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>
</div>


<div padding>
	<button ion-button block (click)="login()" color="orange">Entrar</button><br>
  <button ion-button block  (click)="formulario()" color="vermelho">Ainda não sou cliente?</button>
</div>
</ion-content>
