<ion-tabs id="tabs" color="orange">
  <ion-tab [root]="tab1Root" [rootParams]='params' tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" [rootParams]='params' tabTitle="Faturas" tabIcon="calculator"></ion-tab>
  <ion-tab [root]="tab3Root" [rootParams]='params' tabTitle="Atendimento" tabIcon="chatboxes"></ion-tab>
</ion-tabs>
