<!--
  Generated template for the ModalEmail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="orange">
    <ion-title>Confirme E-mail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label floating>Confirme o E-mail</ion-label>
    <ion-input type="text" [(ngModel)]="email"></ion-input>

  </ion-item>
  <button ion-button color="danger" (click)="closeModal()" item-left>Cancelar</button>
  <button ion-button color="default" item-right (click)="get_from_heroku()">Enviar</button>

</ion-content>
