<!--
  Generated template for the Invoice page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="orange">
    <ion-title>Faturas</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content >
  <div padding>
    <ion-segment [(ngModel)]="tipo" color="orange">
      <ion-segment-button value="pendentes">
        Pendentes
      </ion-segment-button>
      <ion-segment-button value="pagas">
        Pagas
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="tipo">
    <div *ngSwitchCase="'pendentes'">
    <ion-card *ngFor="let item of invoices" >


      <ion-card-content (click)="selectInvoice(item)" *ngIf="item.pago == 'NÃO'">
        <ion-item>
          <ion-icon name="checkmark" *ngIf="item.pago == 'SIM'" color="pago" item-left></ion-icon>
          <ion-icon name="alert" *ngIf="item.pago == 'NÃO'" color="naopago" item-left></ion-icon>

          <ion-label color="pago" *ngIf="item.pago == 'SIM'">{{item.vencimento | mesano}}</ion-label>
          <ion-label color="naopago" *ngIf="item.pago == 'NÃO'">{{item.vencimento | mesano}}</ion-label>

          <ion-note item-right *ngIf="item.pago == 'SIM'">pago</ion-note>
          <ion-note item-right *ngIf="item.pago == 'NÃO'">pendente</ion-note>
        </ion-item>
      </ion-card-content>

    </ion-card>
    </div>
    <div *ngSwitchCase="'pagas'">
    <ion-card *ngFor="let item of invoices" >


      <ion-card-content (click)="selectInvoice(item)" *ngIf="item.pago == 'SIM'">
        <ion-item>
          <ion-icon name="checkmark" *ngIf="item.pago == 'SIM'" color="pago" item-left></ion-icon>
          <ion-icon name="alert" *ngIf="item.pago == 'NÃO'" color="naopago" item-left></ion-icon>

          <ion-label color="pago" *ngIf="item.pago == 'SIM'">{{item.vencimento | mesano}}</ion-label>
          <ion-label color="naopago" *ngIf="item.pago == 'NÃO'">{{item.vencimento | mesano}}</ion-label>

          <ion-note item-right *ngIf="item.pago == 'SIM'">pago</ion-note>
          <ion-note item-right *ngIf="item.pago == 'NÃO'">pendente</ion-note>
        </ion-item>
      </ion-card-content>

    </ion-card>
    </div>
  </div>




</ion-content>
