<ion-header>
  <ion-navbar color="orange" class="mynavbar">
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()" >
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >

    <ion-item no-lines>
      <h2 align="center" color="vermelho"><b>Olá {{customer.nome}}</b></h2>
    </ion-item>

    <img style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" src="img/home1.jpeg">
    <ion-card-content>
      <ion-item>
        <h5 align="center" color="vermelho"><b>Seja muito bem-vindo à</b></h5>
        <h5 align="center" color="vermelho"><b>Central de Atendimento da</b></h5>
        <h5 align="center" color="vermelho"><b>Zap Telecom</b></h5>
      </ion-item>
    </ion-card-content>


</ion-content>
