<!--
  Generated template for the Selectinvoice page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar color="orange">
    <ion-title>Fatura</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-card>
    <ion-item>
      <ion-icon name="paper" item-left></ion-icon>
      <ion-label ><b>{{item.vencimento | mesano}}</b></ion-label>
    </ion-item>
    <img style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;" src="img/BoletoFaturaGR.jpeg">
    <ion-card-content>
    <ion-item>
      <h2><b>R$ {{item.valor}}</b></h2>
    </ion-item>
      <ion-item>
        <h2><b>Pago em: {{item.datapagto | date : 'dd/MM/yyyy'}}</b></h2>
      </ion-item>
      <ion-list *ngIf="dados != '' ">
        <ion-item >
          <h2 item-left ><b>Código de Barras:</b></h2>
          <button ion-button  clear icon-only item-right color="orange" (click)="copiar('linha')">
            <ion-icon name="copy"></ion-icon>
          </button>
        </ion-item>
          <ion-item>
            <p id="linha" class="wordWrap">{{dados.linha_digitavel}}</p>
          </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-item (click)="opemModalEmail()" *ngIf="item.pago == 'NÃO'">

      <ion-icon name="send" item-left color="pago"></ion-icon>
      <ion-label color="pago">Enviar por e-mail</ion-label>
    </ion-item>
    <ion-item (click)="base64()" *ngIf="item.pago == 'NÃO' " ><!--*ngIf="item.pago == 'NÃO'"-->

      <ion-icon name="cloud-download" item-left color="pago"></ion-icon>
      <ion-label color="pago">Baixar Fatura</ion-label>
    </ion-item>
  </ion-card>

</ion-content>



