<!--
  Generated template for the Formulario page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="orange">
    <ion-title>Envie-nos seus dados</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h4 align="center" color="vermelho">Ainda não é nosso cliente?<br>Envie-nos os seus dados e entraremos em contato!</h4>


    <ion-item>
      <ion-label floating>Nome*</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Telefone*</ion-label>
      <ion-input  type="number" [(ngModel)]="phone"></ion-input>
    </ion-item>

  <ion-item>
    <ion-label floating>E-mail</ion-label>
    <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Cidade*</ion-label>
    <ion-select [(ngModel)]="cidade">
      <ion-option *ngFor="let item of cidades" value="{{item.id}}">{{item.cidade}}</ion-option>
    </ion-select>
  </ion-item>


  <ion-item>
      <ion-label floating>Endereço</ion-label>
      <ion-input type="text" [(ngModel)]="address"></ion-input>
    </ion-item>

  <ion-item>
    <ion-label floating>CEP</ion-label>
    <ion-input type="text" [(ngModel)]="cep"></ion-input>
  </ion-item>

<br>
  <ion-row>
    <ion-col col-6>
  <button ion-button block color="danger" (click)="closeModal()" item-left>Cancelar</button>
    </ion-col>
    <ion-col col-6>
  <button ion-button block color="default"  item-right (click)="send_viabilidade()">Enviar</button>
    </ion-col>
  </ion-row>


</ion-content>
