<!--
  Generated template for the Chatbot page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->


<!-- https://console.api.ai/api-client/demo/embedded/b57c39f6-5517-4ac4-9e03-038eca98023c-->
<ion-content>
  <iframe [src]="url_chat"  width="100%" height="100%"></iframe>
</ion-content>
